# Project structure
lists/
test_zone/
input-file-tests/
old versions/
enkan/TODO.md

# IDE/Editor settings
.vscode/
.venv/

# Build/packaging
**/__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
*.egg-info/

# Optional config files
.vscode/launch.json
enkan/ruff.toml
results.csv
