# Project structure
lists/
docs/
test_zone/
input-file-tests/
test_tmp_dir/
tests_tmp_root/
old versions/
enkan/TODO.md

# IDE/Editor settings
.vscode/
.venv/

# Build/packaging
**/__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
*.egg-info/

# Optional config files
.vscode/launch.json
enkan/ruff.toml
results.csv

# Third-party binaries
benchmarks/EmptyStandbyList.exe